@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";
@import "components/error/error.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #203745;
  --color-secondary: #f6f6f6;
  --font-family: system-ui;
  --border-radius-standard: 10px;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px 0;
  display: flex;
  gap: 200px;
  /* background-color: black; */
  background-image: url(./assets/starfield_bg.jpg);
}

.container {
  margin: 0 auto;
  position: relative;
}

header {
  position: sticky;
  top: 10px;
  border-radius: 50px;
  background-color: white;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-container {
  max-width: 300px;
}

.title {
  padding: 10px 0;
  justify-content: center;
}

.logo {
  width: 300px;
  align-items: center;
  margin-bottom: 10px;
}

.nav-container {
  position: fixed;
  bottom: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-standard);
}

.navigation {
  /* background-color: black; */
}
