@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #203745;
  --color-secondary: #f6f6f6;
  --font-family: system-ui;
  --border-radius-standard: 10px;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px 0;
  display: flex;
  gap: 200px;
}

.container {
  margin: 0 auto;
  position: relative;
}

header {
  position: fixed;
  border-radius: var(--border-radius-standard);
  background-color: white;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  padding: 10px 0;
  justify-content: center;
}

.logo {
  width: 300px;
  align-items: center;
  margin-bottom: 20px;
}

.navigation {
  position: fixed;
  bottom: 10px;
}
